**/TMP_NO_VERSIONING/*
**/TMP_NO_VERSIONING*

**/Plugins/Editor/JetBrains*

**/artifacts/**
**/bin/**
build/**
.build_script/**
node_modules/**
.DS_Store
.npmrc
!Documentation~
!.Documentation
npm-debug.log
build.sh.meta
build.bat.meta
.idea/
.vs/
.vscode/

[Ll]ibrary/
[Tt]emp/
[Ll]ogs/
[Oo]bj/
[Uu]serSettings/

*.csproj
!InternalPackages/PackageRequirementAssistantPackageAndSolution/PackageRequirementAssistantSolution/PackageRequirementAssistant/PackageRequirementAssistant.csproj
*.csproj.meta
*.unityproj
*.sln
!InternalPackages/PackageRequirementAssistantPackageAndSolution/PackageRequirementAssistantSolution/PackageRequirementAssistantSolution.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.log
*.obj
*.tlb
*.tlog
*.exp
*.ilk
*.pdb
*.ilk.meta
*.exp.meta
*.idb
*.enc
*.recipe
*.FileListAbsolute.txt
*.iobj
*.ipdb
*.pdb.meta
.buginfo
